version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: python

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: ruff
      - dependency-name: bandit
