repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: ['--fix']      
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ['--confidence-level', 'medium', '--severity-level', 'medium']
        files: '^parsons'
