repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.11.2'
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: '1.8.3'
    hooks:
    - id: bandit
