repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ['--fix']      
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ['--confidence-level', 'medium', '--severity-level', 'medium', '--exclude', '**/vendor/*']
        files: '^parsons'
