aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
airtable-python-wrapper==0.13.0
async-timeout==4.0.3
attrs==23.1.0
Authlib==1.2.1
azure-core==1.29.4
azure-storage-blob==12.3.2
bcrypt==4.0.1
beautifulsoup4==4.12.2
black==22.12.0
boto3==1.17.98
botocore==1.20.112
boxsdk==2.10.0
braintree==4.0.0
bs4==0.0.1
cachetools==5.3.1
censusgeocode==0.4.3.post1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
civis==1.16.0
click==8.1.7
cloudpickle==2.2.1
cryptography==41.0.4
curlify==2.2.1
Deprecated==1.2.14
docutils==0.17.1
facebook-business==13.0.0
flake8==4.0.1
frozenlist==1.4.0
google-api-core==1.34.0
google-api-python-client==1.7.7
google-auth==2.6.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==0.5.3
google-cloud-bigquery==3.4.0
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-cloud-storage-transfer==1.9.1
google-crc32c==1.5.0
google-resumable-media==2.3.2
googleapis-common-protos==1.60.0
grpcio==1.53.0
grpcio-status==1.48.2
gspread==3.7.0
httplib2==0.19.0
idna==3.4
iniconfig==2.0.0
isodate==0.6.1
jellyfish==0.11.2
Jinja2==3.0.2
jmespath==0.10.0
joblib==1.2.0
jsonref==0.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
lxml==4.9.3
MarkupSafe==2.1.3
mccabe==0.6.1
msrest==0.7.1
multidict==6.0.4
mypy-extensions==1.0.0
mysql-connector-python==8.0.18
newmode==0.1.6
numpy==1.26.0
oauth2client==4.1.3
oauthlib==3.2.2
packaging==21.3
paramiko==2.11.0
pathspec==0.11.2
petl==1.6.8
platformdirs==3.10.0
pluggy==1.3.0
proto-plus==1.22.3
protobuf==3.20.3
psycopg2-binary==2.9.3
py==1.11.0
pyarrow==10.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.8.0
pycountry==22.3.5
pycparser==2.21
pyflakes==2.4.0
PyGithub==1.51
PyJWT==2.4.0
PyNaCl==1.5.0
pyparsing==2.4.7
pytest==7.1.1
pytest-datadir==1.3.0
pytest-mock==3.12.0
python-dateutil==2.8.1
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
requests-file==1.5.1
requests-mock==1.5.2
requests-oauthlib==1.3.0
requests-toolbelt==0.10.1
rpds-py==0.10.3
rsa==4.9
s3transfer==0.4.2
selenium==3.141.0
simple-salesforce==1.11.6
simplejson==3.16.0
six==1.16.0
slackclient==1.3.0
soupsieve==2.5
SQLAlchemy==1.3.23
sshtunnel==0.4.0
suds-py3==1.3.4.0
SurveyGizmo==1.2.3
tenacity==8.2.3
testfixtures==6.18.5
tomli==2.0.1
twilio==8.2.1
typing_extensions==4.8.0
uritemplate==3.0.1
urllib3==1.26.18
us==3.1.1
validate-email==1.3
websocket-client==0.59.0
wrapt==1.15.0
xmltodict==0.11.0
yarl==1.9.2
zeep==4.2.1
