# Testing Requirements
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
distlib==0.3.8
exceptiongroup==1.2.2
filelock==3.15.4
identify==2.6.0
idna==3.7
iniconfig==2.0.0
nodeenv==1.9.1
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.7.1
pycodestyle==2.11.1
pytest==8.1.1
pytest-datadir==1.5.0
pytest-mock==3.12.0
PyYAML==6.0.1
requests==2.32.3
requests-mock==1.11.0
ruff==0.5.3
six==1.16.0
testfixtures==8.1.0
tomli==2.0.1
urllib3==2.2.2
virtualenv==20.26.3


