airtable-python-wrapper==0.13.0
azure-storage-blob==12.13.0
boto3>=1.17.98
boxsdk==2.10.0
braintree==4.17.1
bs4==0.0.1
censusgeocode==0.4.3.post1
civis==1.16.0
dbt_redshift==1.4.0
docutils<0.18,>=0.14
facebook-business==13.0.0
google-api-python-client==1.7.7
google-auth==2.6.2
google-cloud-bigquery==3.18.0
google-cloud-storage-transfer==1.9.1
google-cloud-storage==2.10.0
google-resumable-media==2.3.2
grpcio==1.53.2
gspread==3.7.0
httplib2==0.22.0
joblib==1.2.0
mysql-connector-python==8.0.18
newmode==0.1.6
oauth2client==4.1.3
paramiko==3.4.0
petl==1.7.15
psycopg2-binary==2.9.9
PyGitHub==1.51
PyJWT==2.4.0 # Otherwise `import jwt` would refer to python-jwt package
python-dateutil==2.8.2
requests==2.31.0
requests_oauthlib==1.3.0
simple-salesforce==1.11.6
simplejson==3.16.0
slackclient==1.3.0
sqlalchemy >= 1.4.22, != 1.4.33, < 2.0.0 # Prefect does not work with 1.4.33 and >3.0.0 has breaking changes
suds-py3==1.3.4.0
surveygizmo==1.2.3
twilio==8.2.1
urllib3==1.26.19
validate-email==1.3
xmltodict==0.11.0

# Stuff for TMC scripts
# TODO Remove when we have a TMC-specific Docker image
jinja2>=3.0.2
selenium==3.141.0
us==3.1.1
