# Testing Requirements
bandit[toml]==1.8.3
coverage==7.8.0
pre-commit==4.2.0
pytest-cov==6.1.1
pytest-datadir==1.6.1
pytest-mock==3.14.0
pytest-xdist==3.6.1
pytest==8.4.1
requests-mock==1.12.1
ruff==0.11.7
testfixtures==8.3.0

# Build and publish requirements
cibuildwheel==2.23.3
twine==6.1.0
wheel==0.45.1

# Docs Requirements
myst-parser==3.0.1;python_version<'3.10'
myst-parser==4.0.1;python_version>='3.10'
sphinx-multiversion
sphinx-rtd-theme==3.0.2
sphinxcontrib-googleanalytics
Sphinx==7.4.7;python_version<'3.10'
Sphinx==8.1.3;python_version>='3.10'
