# Testing Requirements
bandit[sarif]==1.9.3
pre-commit~=4.5
pytest-cov~=7.0
pytest-datadir~=1.8
pytest-mock~=3.15
pytest-xdist~=3.8
pytest~=9.0
requests-mock~=1.12
ruff==0.14.14
testfixtures~=8.3.0;python_version<'3.11'
testfixtures~=10.0.0;python_version>='3.11'

# Build and publish requirements
twine~=6.2
build

# Docs Requirements
myst-parser~=4.0;python_version<'3.11'
myst-parser~=5.0;python_version>='3.11'
sphinxcontrib-googleanalytics~=0.5
sphinx-multiversion~=0.2
sphinx-rtd-theme~=3.1
Sphinx~=7.4;python_version<'3.11'
Sphinx~=8.2;python_version>='3.11'
