interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/activities?_limit=20&_since=0
  response:
    body:
      string: "{\"data\":[{\"id\":111256062,\"user_id\":1186152,\"name\":\"UserPropertyEdit\",\"actionable_id\":76758307,\"actionable_type\":\"UserPropertyEdit\",\"action\":{\"id\":76758307,\"user_id\":1186152,\"agent_user_id\":1140156,\"field_type\":\"assessment\",\"old_value\":\"developing_leader\",\"new_value\":\"\",\"data_import_id\":null,\"created_at\":\"2026-07-26T07:48:13.774-10:00\"},\"created_at\":\"2026-07-26T07:48:14.775-10:00\"},{\"id\":111256059,\"user_id\":1186152,\"name\":\"UserPropertyEdit\",\"actionable_id\":76758306,\"actionable_type\":\"UserPropertyEdit\",\"action\":{\"id\":76758306,\"user_id\":1186152,\"agent_user_id\":1140156,\"field_type\":\"assessment\",\"old_value\":\"supporter\",\"new_value\":\"developing_leader\",\"data_import_id\":null,\"created_at\":\"2026-07-26T07:48:06.268-10:00\"},\"created_at\":\"2026-07-26T07:48:07.273-10:00\"},{\"id\":45417529,\"user_id\":7328098,\"name\":\"Visit\",\"actionable_id\":13301324,\"actionable_type\":\"Visit\",\"action\":{\"id\":13301324,\"ip\":\"70.67.48.195\",\"user_agent\":\"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko)
        Version/18.6 Safari/605.1.15\",\"referrer\":null,\"landing_page\":null,\"action_page_id\":null,\"user_id\":7328098,\"referring_domain\":null,\"search_keyword\":null,\"browser\":\"Safari\",\"os\":\"Mac\",\"device_type\":\"Desktop\",\"country\":\"Canada\",\"region\":\"British
        Columbia\",\"city\":\"Victoria\",\"postal_code\":\"V9A\",\"latitude\":\"48.4496\",\"longitude\":\"-123.4193\",\"utm_source\":null,\"utm_medium\":null,\"utm_term\":null,\"utm_content\":null,\"utm_campaign\":null,\"created_at\":\"2026-04-28T14:37:44.181-10:00\"},\"created_at\":\"2026-04-28T14:37:44.343-10:00\"},{\"id\":44586488,\"user_id\":7328098,\"name\":\"Visit\",\"actionable_id\":13002715,\"actionable_type\":\"Visit\",\"action\":{\"id\":13002715,\"ip\":\"70.67.48.195\",\"user_agent\":\"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko)
        Version/18.6 Safari/605.1.15\",\"referrer\":null,\"landing_page\":null,\"action_page_id\":null,\"user_id\":7[...]
