interactions:
- request:
    body: '{"is_attending": "yes", "agent_user_id": 1191722, "event_id": 1471, "event_session_id":
      1316, "skip_email_confirmation": false, "user_id": 1928273}'
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
      content-type:
      - application/json
    method: POST
    uri: https://api.solidarity.tech/v1/event_rsvps
  response:
    body:
      string: '{"data":{"id":1110128,"event_id":1471,"event_session_id":1316,"user_id":1928273,"user_details":{"first_name":"Pennie","last_name":"Godlonton","email":"pgodlonton9u@whitehouse.gov","phone":null},"is_attending":"yes","is_confirmed":null,"confirmed_at":null,"confirmed_by_agent_id":null,"unconfirmed_at":null,"unconfirmed_by_agent_id":null,"confirmation_source":null,"mobilize_event_task_id":null,"agent_user_id":1191722,"source":null,"source_system":null,"cancel_rsvp_url":"https://www.solidarity.tech/event/cancel/1316?rsvp_token=uUhW1WjJYsTEhN22pxJqtw%3D%3D%0A\u0026rsvp_id=1110128","confirm_rsvp_url":"https://www.solidarity.tech/event/confirm/1316?rsvp_token=uUhW1WjJYsTEhN22pxJqtw%3D%3D%0A\u0026rsvp_id=1110128","created_at":"2026-09-10T18:26:10.109-04:00","updated_at":"2026-09-10T18:26:10.109-04:00"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
version: 1
