interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/event_rsvps/378949?full_user_payload=False
  response:
    body:
      string: '{"data":{"id":378949,"event_id":7004,"event_session_id":17721,"user_id":2635200,"user_details":{"id":2635200,"hash_id":"qwpg796mOPoL87Y0YcLwjNOZQrVJ1h0Y1hTiakgAR4E","phone_number":"19142826188","email":"jason.lei@resilientstrategiesllc.com","first_name":"Jason","last_name":"Lei","alternate_name":null,"date_of_birth":null,"age":null,"preferred_language":"en","second_language":null,"secondary_languages":[],"chapter_id":220,"chapter_ids":[220],"branch_id":null,"created_at":"2025-11-14T11:59:38.688-06:00","updated_at":"2026-08-16T23:21:37.869-05:00","custom_user_properties":{"account-type":null,"employer":"Fhhddfg","campaign":null,"ethnicity":null,"ethnicity2":null,"faith-affiliation":null,"flood-relief-support-needs":null,"household-party-registration":null,"interests":null,"issue-area":null,"last-name":null,"legislative-body":null,"multiple-options-checkbox-test":[{"label":"Option
        1","value":"LvZcKkth"},{"label":"Option 2","value":"byP6HNTQ"}],"resources":null,"stv-sign-up-interests":null,"test":null,"values":null,"voter-id":null,"voter-idhh":null,"work-status":null,"youth-chapter":null,"tradition":null,"committee":null,"facility":null},"tags":[],"referral_code":"MzabrHEA","timezone":null,"address":{"address1":null,"address2":null,"city":null,"state":null,"zip_code":"","country":null,"latitude":null,"longitude":null},"assessment":{"key":"activist","label":"Activist","color":"rgba(126,
        101, 237, 1)"},"sms_permission":true,"call_permission":true,"email_permission":true,"other_emails":[],"other_phone_numbers":[]},"is_attending":"yes","is_confirmed":null,"confirmed_at":null,"confirmed_by_agent_id":null,"unconfirmed_at":null,"unconfirmed_by_agent_id":null,"confirmation_source":null,"mobilize_event_task_id":null,"agent_user_id":2635200,"source":"chat","source_system":"dashboard","cancel_rsvp_url":"https://www.solidarity.tech/event/cancel/17721?rsvp_token=D%2Bv4PsnaeLTsgu4zKCbYjA%3D%3D%0A\u0026rsvp_id=378949","confirm_rsvp_url":"https://www.solidarity.tech/event/confirm/17721?rsvp_token=D%2Bv4PsnaeLTsgu4zKCbYjA%3D%3D%0A\u0026rsvp_id=378949","created_at":"2025-12-12T22:15:47.747-06:00","updated_at":"2025-12-12T22:15:47.747-06:00"},"meta":{"total_count":1,"limit":1,"offset":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
