interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/event_rsvps?_limit=20&_offset=0&_since=0&full_user_payload=False
  response:
    body:
      string: '{"data":[{"id":65686,"event_id":1079,"event_session_id":944,"user_id":1140156,"user_details":{"id":1140156,"hash_id":"1fSwiLyXY5xfX_tftyE0kYNMBsEWL1qSgBXeIMlHwgY","phone_number":"17144690097","email":"culovv@gmail.com","first_name":"Ivan","last_name":"Pardo","alternate_name":null,"date_of_birth":null,"age":null,"preferred_language":"en","second_language":null,"secondary_languages":[],"chapter_id":509,"chapter_ids":[509],"branch_id":null,"created_at":"2022-01-14T08:57:34.482+11:00","updated_at":"2026-09-07T15:46:01.425+10:00","custom_user_properties":{"account-type":[{"label":"Worker","value":"M3gMugXt"}],"employer":null,"bargaining-unit":null,"campaign":null,"faith-affiliation":null,"flood-relief-support-needs":null,"interests":null,"issue-area":[{"label":"EJ","value":"5I6iSyOH"}],"legislative-body":null,"multiple-options-checkbox-test":null,"resources":null,"values":null,"worksite":[{"label":"Creech
        Rd Elementary","value":"yBosvNAn"}],"work-status":[{"label":"Current employee","value":"M4VAUVaA"}],"youth-chapter":null,"tradition":null,"committee":null,"facility":null},"tags":[],"referral_code":"XRP30XHG","timezone":null,"address":{"address1":"Brainard
        Avenue","address2":"","city":"Sylmar","state":"CA","zip_code":"91342","country":"US","latitude":34.3054,"longitude":-118.4322},"assessment":{"key":"core","label":"Core","color":"rgba(16,
        185, 129, 1)"},"sms_permission":true,"call_permission":true,"email_permission":true,"other_emails":["culovspam@gmail.com","culovspam+213@gmail.com","sample@gmail.com"],"other_phone_numbers":["17144690099","17144982344","71646465767"]},"is_attending":"yes","is_confirmed":null,"confirmed_at":null,"confirmed_by_agent_id":null,"unconfirmed_at":null,"unconfirmed_by_agent_id":null,"confirmation_source":null,"mobilize_event_task_id":null,"agent_user_id":1140156,"source":"chat","source_system":"web","cancel_rsvp_url":"https://www.solidarity.tech/event/cancel/944?rsvp_token=XFYvfKQ2%2F1pIpaoNv9vwKg%3D%3D%0A\u0026rsvp_id=65686","confirm_rsvp_url":"https://www.solidarity.tech/event/confirm/944?rsvp_token=XFYvfKQ2%2F1pIpaoNv9vwKg%3D%3D%0A\u0026rsvp_id=65686","created_at":"2022-02-02T10:56:25.912+11:00","updated_at":"2022-02-02T10:56:25.912+11:00"},{"id":65691,"event_id":1080,"event_session_id":947,"user_id":1140156,"user_details":{"id":1140156,"hash_id":"1fSwiLyXY5xfX_tftyE0kYNMBsEWL1qSgBXeIMlHwgY","phone_number":"17144690097","email":"culovv@gmail.com","first_name":"Ivan","last_name":"Pardo","alternate_name":null,"date_of_birth":null,"age[...]
