interactions:
- request:
    body: '{"is_attending": "no"}'
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
      content-type:
      - application/json
    method: PUT
    uri: https://api.solidarity.tech/v1/event_rsvps/74398
  response:
    body:
      string: '{"data":{"id":74398,"event_id":1471,"event_session_id":1316,"user_id":1147158,"user_details":{"first_name":"Mikayel","last_name":"M","email":"mmikayel.k@gmail.com","phone":"18182556277"},"is_attending":"no","is_confirmed":false,"confirmed_at":null,"confirmed_by_agent_id":null,"unconfirmed_at":null,"unconfirmed_by_agent_id":null,"confirmation_source":null,"mobilize_event_task_id":null,"agent_user_id":1140156,"source":"chat","source_system":"mobile","cancel_rsvp_url":"https://www.solidarity.tech/event/cancel/1316?rsvp_token=rjWvsk4kat2W3VZ8B4j8uA%3D%3D%0A\u0026rsvp_id=74398","confirm_rsvp_url":"https://www.solidarity.tech/event/confirm/1316?rsvp_token=rjWvsk4kat2W3VZ8B4j8uA%3D%3D%0A\u0026rsvp_id=74398","created_at":"2023-08-25T17:37:39.925-05:00","updated_at":"2026-09-10T17:33:48.866-05:00"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
