interactions:
- request:
    body: '{"event_id": 30053, "title": "test event", "start_time": 1791809951, "end_time":
      1791817151}'
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
      content-type:
      - application/json
    method: POST
    uri: https://api.solidarity.tech/v1/event_sessions
  response:
    body:
      string: '{"data":{"id":103352,"mobilize_event_id":30053,"start_time":"2026-10-12T05:59:11.000-07:00","end_time":"2026-10-12T07:59:11.000-07:00","title":"test
        event","created_at":"2026-09-11T18:05:15.108-07:00","updated_at":"2026-09-11T18:05:15.121-07:00","location_name":null,"location_data":null,"lonlat":null,"location_address":null,"show_rsvp_bar":true,"show_title_in_form":false,"max_capacity":0,"note":null,"tags":[],"zoom_account_id":null,"zoom_meeting_id":null,"zoom_meeting_data":null,"zoom_join_before_host":false,"zoom_attendance_synced_at":null,"source_calendar_item_id":null,"event_type":"in_person","paired_meci_id":null,"recurring_schedule_id":null,"mobilize_event_task_id":null,"host_user_ids":[],"rsvp_count":0,"attendance_count":0,"host_tools_url":"https://www.solidarity.tech/h/Ud3_GGrQBXrK-ROLzo4rLO0LkzkTiwNrvMZaQgEreHM","primary_session_id":103352,"city_state_label":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
version: 1
