interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/event_sessions?_limit=20&_offset=0&_since=0&event_id=30053
  response:
    body:
      string: '{"data":[{"id":88127,"mobilize_event_id":30053,"start_time":"2026-08-19T21:00:00.000-04:00","end_time":"2026-08-19T23:00:00.000-04:00","title":"KY
        Tenant Rights","created_at":"2026-08-13T18:38:23.127-04:00","updated_at":"2026-08-13T18:38:23.156-04:00","location_name":"KIWA","location_data":{"components":"[{\"long_name\":\"1053\",\"short_name\":\"1053\",\"types\":[\"street_number\"]},{\"long_name\":\"South
        New Hampshire Avenue\",\"short_name\":\"S New Hampshire Ave\",\"types\":[\"route\"]},{\"long_name\":\"Pico-Union\",\"short_name\":\"Pico-Union\",\"types\":[\"neighborhood\",\"political\"]},{\"long_name\":\"Los
        Angeles\",\"short_name\":\"Los Angeles\",\"types\":[\"locality\",\"political\"]},{\"long_name\":\"Los
        Angeles County\",\"short_name\":\"Los Angeles County\",\"types\":[\"administrative_area_level_2\",\"political\"]},{\"long_name\":\"California\",\"short_name\":\"CA\",\"types\":[\"administrative_area_level_1\",\"political\"]},{\"long_name\":\"United
        States\",\"short_name\":\"US\",\"types\":[\"country\",\"political\"]},{\"long_name\":\"90006\",\"short_name\":\"90006\",\"types\":[\"postal_code\"]},{\"long_name\":\"2776\",\"short_name\":\"2776\",\"types\":[\"postal_code_suffix\"]}]","coordinates":"{\"lat\":34.0513854,\"lng\":-118.292904}","address_city":"Los
        Angeles","full_address":"1053 South New Hampshire Avenue, Los Angeles, CA,
        USA","address_state":"CA","address_line_1":"1053 South New Hampshire Avenue","address_country":"US","address_postal_code":"90006"},"lonlat":"POINT
        (-118.292904 34.0513854)","location_address":"1053 South New Hampshire Avenue,
        Los Angeles, CA, USA","show_rsvp_bar":true,"show_title_in_form":false,"max_capacity":0,"note":null,"tags":[],"zoom_account_id":null,"zoom_meeting_id":null,"zoom_meeting_data":null,"zoom_join_before_host":false,"zoom_attendance_synced_at":null,"source_calendar_item_id":null,"event_type":"in_person","paired_meci_id":null,"recurring_schedule_id":null,"mobilize_event_task_id":null,"host_user_ids":[],"rsvp_count":2,"attendance_count":0,"host_tools_url":"https://www.solidarity.tech/h/pWZQgcQT0tHbfL7tsnbxbkQgrHMIkdz_jc79FCU6GS8","primary_session_id":88127,"city_state_label":"Los
        Angeles, CA"}],"meta":{"total_count":1,"limit":20,"offset":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
