interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/email_blasts/3617
  response:
    body:
      string: '{"data":{"id":3617,"name":"test","target_parameters":{"rules":[{"id":"user.assessment","type":"string","input":"select","value":["core"],"operator":"equal"}],"valid":true,"condition":"AND"},"subject":{},"content":{"en":"\u003cp\u003eHi
        \u0026nbsp;{{ user.first-name }},\u003c/p\u003e\n\u003cp\u003eThis a cool
        email.\u003c/p\u003e\n\u003ctable class=\"email-two-col\" style=\"width: 100%;
        border-collapse: collapse;\" role=\"presentation\" width=\"100%\" cellspacing=\"0\"
        cellpadding=\"0\"\u003e\n\u003ctbody\u003e\n\u003ctr\u003e\n\u003ctd class=\"email-col\"
        style=\"padding: 0 10px;\" valign=\"top\" width=\"50%\"\u003e\n\u003ctable
        style=\"border-collapse: collapse; width: 100%;\" role=\"presentation\" width=\"100%\"
        cellspacing=\"0\" cellpadding=\"0\"\u003e\n\u003ctbody\u003e\n\u003ctr\u003e\n\u003ctd
        style=\"font-family: Arial, sans-serif; font-size: 16px; line-height: 1.4;
        color: #000; font-weight: 400;\"\u003e\n\u003cp\u003eLeft column content\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\u003c/tbody\u003e\n\u003c/table\u003e\n\u003c/td\u003e\n\u003ctd
        class=\"email-col\" style=\"padding: 0 10px;\" valign=\"top\" width=\"50%\"\u003e\n\u003ctable
        style=\"border-collapse: collapse; width: 100%;\" role=\"presentation\" width=\"100%\"
        cellspacing=\"0\" cellpadding=\"0\"\u003e\n\u003ctbody\u003e\n\u003ctr\u003e\n\u003ctd
        style=\"font-fami[...]
