interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/event_attendances?_limit=20&_offset=0&_since=0
  response:
    body:
      string: '{"data":[{"id":3846,"event_id":1471,"event_session_id":1316,"user_id":1384463,"attended":true,"created_at":"2023-11-28T01:04:29.453-05:00"},{"id":49640,"event_id":5780,"event_session_id":14115,"user_id":1146750,"attended":true,"created_at":"2025-12-03T15:56:09.196-05:00"},{"id":50279,"event_id":1471,"event_session_id":1316,"user_id":2635200,"attended":true,"created_at":"2025-12-09T00:41:24.823-05:00"},{"id":50280,"event_id":6901,"event_session_id":17548,"user_id":1191677,"attended":true,"created_at":"2025-12-09T14:05:36.287-05:00"},{"id":50281,"event_id":6907,"event_session_id":17555,"user_id":193428[...]
