interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/custom_user_properties?_limit=20&_offset=0&_since=0
  response:
    body:
      string: '{"data":[{"id":191,"name":"Account Type","key":"account-type","field_type":"radios","options":[{"label":{"en":"Worker"},"value":"M3gMugXt"},{"label":{"en":"Community
        Supporter"},"value":"846llQSM"}],"required":false,"label":"Account Type","description":"","scope_id":41,"scope_type":"Organization","created_at":"2023-07-27T16:53:15.737-04:00"},{"id":207,"name":"Employer","key":"employer","field_type":"input","options":[{"label":{"en":""},"value":"option-1"}],"required":false,"label":"Employer","description":"","scope_id":41,"scope_type":"Organization","created_at":"2023-11-28T02:13:18.493-05:00"},{"id":3239,"name":"Building
        Campaign [TOTU Test]","key":"campaign","field_type":"checkboxes","options":[{"label":{"en":"Rowena
        Campaign"},"value":"DUT9kpiQ"}],"required":false,"label":"Building[...]
