interactions:
- request:
    body: '{"title": "newer test event", "event_type": "in_person", "start_time":
      1791809955, "end_time": 1791817165, "scope_id": 960, "scope_type": "Chapter",
      "skip_duplicate_check": false}'
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
      content-type:
      - application/json
    method: POST
    uri: https://api.solidarity.tech/v1/events
  response:
    body:
      string: '{"data":{"id":34688,"title":"newer test event","scope_id":960,"scope_type":"Chapter","event_type":"in_person","location_name":null,"location_data":null,"tags":[],"campaign_tags":[],"event_sessions":[{"id":103833,"mobilize_event_id":34688,"start_time":"2026-10-12T08:59:15.000-04:00","end_time":"2026-10-12T10:59:25.000-04:00","title":"newer
        test event","created_at":"2026-09-12T20:03:20.263-04:00","updated_at":"2026-09-12T20:03:20.274-04:00","location_name":null,"location_data":null,"lonlat":null,"location_address":null,"show_rsvp_bar":true,"show_title_in_form":false,"max_capacity":0,"note":null,"tags":[],"zoom_account_id":null,"zoom_meeting_id":null,"zoom_meeting_data":null,"zoom_join_before_host":false,"zoom_attendance_synced_at":null,"source_calendar_item_id":null,"event_type":"in_person","paired_meci_id":null,"recurring_schedule_id":null,"mobilize_event_task_id":null,"host_user_ids":[],"rsvp_count":0,"attendance_count":0,"host_tools_url":"https://www.solidarity.tech/h/bFVu579E9aDyF-sgsCSNkvxBDSWb3V-dU5F7OlESzm0","primary_session_id":103833,"city_state_label":null}],"event_page_url":null,"event_page_id":null,"image_url":null,"description":null,"hide_address_until_rsvp":false,"show_in_web_calendars":false,"accessibility_info":null,"waitlist_enabled":false,"automation_status":{"rsvp_confirmation_email":true,"rsvp_confirmation_text":false,"day_before_email_reminder":true,"day_before_text_reminder":false,"day_of_email_reminder":false,"day_of_text_reminder":true,"ten_min_before_text_reminder":false,"post_event_survey_email":false,"post_event_survey_text":false},"primary_event_id":34688,"is_co_hosted_mirror":false,"internal_co_host_chapters":[],"created_at":"2026-09-12T20:03:20.195-04:00"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
version: 1
