interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/events?_limit=20&_offset=0&_since=0
  response:
    body:
      string: "{\"data\":[{\"id\":30053,\"title\":\"KY Tenant Rights\",\"scope_id\":41,\"scope_type\":\"Organization\",\"event_type\":\"in_person\",\"location_name\":null,\"location_data\":null,\"tags\":[],\"campaign_tags\":[],\"event_sessions\":[{\"id\":103352,\"mobilize_event_id\":30053,\"start_time\":\"2026-10-12T05:59:11.000-07:00\",\"end_time\":\"2026-10-12T07:59:11.000-07:00\",\"title\":\"test
        event\",\"created_at\":\"2026-09-11T18:05:15.108-07:00\",\"updated_at\":\"2026-09-11T18:05:15.121-07:00\",\"location_name\":null,\"location_data\":null,\"lonlat\":null,\"location_address\":null,\"show_rsvp_bar\":true,\"show_title_in_form\":false,\"max_capacity\":0,\"note\":null,\"tags\":[],\"zoom_account_id\":null,\"zoom_meeting_id\":null,\"zoom_meeting_data\":null,\"zoom_join_before_host\":false,\"zoom_attendance_synced_at\":null,\"source_calendar_item_id\":null,\"event_type\":\"in_person\",\"paired_meci_id\":null,\"recurring_schedule_id\":null,\"mobilize_event_task_id\":null,\"host_user_ids\":[],\"rsvp_count\":0,\"attendance_count\":0,\"host_tools_url\":\"https://www.solidarity.tech/h/Ud3_GGrQBXrK-ROLzo4rLO0LkzkTiwNrvMZaQgEreHM\",\"primary_session_id\":103352,\"city_state_label\":null}],\"event_page_url\":null,\"event_page_id\":null,\"image_url\":null,\"description\":null,\"hide_address_until_rsvp\":false,\"show_in_web_calendars\":false,\"accessibility_info\":null,\"waitlist_enabled\":false,\"automation_status\":{\"rsvp_confirmation_email\":true,\"rsvp_confirmation_text\":false,\"day_before_email_reminder\":true,\"day_before_text_reminder\":false,\"day_of_email_reminder\":false,\"day_of_text_reminder\":true,\"ten_min_before_text_reminder\":false,\"post_event_survey_email\":false,\"post_event_survey_text\":false},\"primary_event_id\":30053,\"is_co_hosted_mirror\":false,\"internal_co_host_chapters\":[],\"created_at\":\"2026-08-13T15:38:23.094-07:00\"},{\"id\":28878,\"title\":\"Play
        Time at the Mall\",\"scope_id\":41,\"scope_type\":\"Organization\",\"event_type\":\"in_person\",\"location_name\":null,\"location_data\":null,\"tags\":[],\"campaign_tags\":[],\"event_sessions\":[{\"id\":84933,\"mobilize_event_id\":28878,\"start_time\":\"2026-08-11T09:00:00.000-07:00\",\"end_time\":\"2026-08-11T11:00:00.000-07:00\",\"title\":\"Play
        Time at the Mall\",\"created_at\":\"2026-08-05T12:01:33.363-07:00\",\"updated_at\":\"2026-08-05T12:01:33.376-07:00\",\"location_name\":\"National
        Mall\",\"location_data\":{\"components\":\"[{\\\"long_name\\\":\\\"1400\\\",\\\"short_name\\\":\\\"1400\\\",\\\"types\\\":[\\\"street_number\\\"]},{\\\"long_name\\\":\\\"Independence
        Avenue Southwest\\\",\\\"short_name\\\":\\\"Independence Ave SW\\\",\\\"types\\\":[\\\"route\\\"]},{\\\"long_name\\\":\\\"Southwest
        Washington\\\",\\\"short_name\\\":\\\"Southwest Washington\\\",\\\"types\\\":[\\\"neighborhood\\\",\\\"political\\\"]},{\\\"long_name\\\":\\\"Washington\\\",\\\"short_name\\\":\\\"Washington\\\",\\\"types\\\":[\\\"locality\\\",\\\"political\\\"]},{\\\"long_name\\\":\\\"District
        of Columbia\\\",\\\"short_name\\\":\\\"DC\\\",\\\"types\\\":[\\\"administrative_area_level_1\\\",\\\"political\\\"]},{\\\"long_name\\\":\\\"United
        States\\\",\\\"short_name\\\":\\\"US\\\",\\\"types\\\":[\\\"country\\\",\\\"political\\\"]},{\\\"long_name\\\":\\\"20250\\\",\\\"short_name\\\":\\\"20250\\\",\\\"types\\\":[\\\"postal_code\\\"]},{\\\"long_name\\\":\\\"0002\\\",\\\"short_name\\\":\\\"0002\\\",\\\"types\\\":[\\\"postal_code_suffix\\\"]}]\",\"coordinates\":\"{\\\"lat\\\":38.8867599,\\\"lng\\\":-77.030086}\",\"address_city\":\"Washington\",\"full_address\":\"1400
        Independence Avenue Southwest, Washington, DC, USA\",\"address_state\":\"DC\",\"address_line_1\":\"1400
        Independence Avenue Southwest\",\"address_country\":\"US\",\"address_postal_code\":\"20250\"},\"lonlat\":\"POINT
        (-77.030086 38.8867599)\",\"location_address\":\"1400 Independence Avenue
        Southwest, Washington, DC, USA\",\"show_rsvp_bar\":true,\"show_title_in_form\":false,\"max_capacity\":0,\"note\":null,\"tags\":[],\"zoom_account_id\":null,\"zoom_meeting_id\":null,\"zoom_meeting_data\":null,\"zoom_join_before_host\":false,\"zoom_attendance_synced_at\":null,\"source_calendar_item_id\":null,\"event_type\":\"in_person\",\"paired_meci_id\":null,\"recurring_schedule[...]
