interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/events/25835?include_hosts=False
  response:
    body:
      string: '{"data":{"id":25835,"title":"GOTV canvass","scope_id":41,"scope_type":"Organization","event_type":"in_person","location_name":null,"location_data":null,"tags":[],"campaign_tags":[],"event_sessions":[{"id":74906,"mobilize_event_id":25835,"start_time":"2026-07-16T15:00:00.000-04:00","end_time":"2026-07-16T17:00:00.000-04:00","title":"GOTV
        canvass","created_at":"2026-07-15T14:12:42.116-04:00","updated_at":"2026-07-15T14:12:42.139-04:00","location_name":"","location_data":{"components":"[{\"long_name\":\"1053\",\"short_name\":\"1053\",\"types\":[\"street_number\"]},{\"long_name\":\"South
        New Hampshire Avenue\",\"short_name\":\"S New Hampshire Ave\",\"types\":[\"route\"]},{\"long_name\":\"Pico-Union\",\"short_name\":\"Pico-Union\",\"types\":[\"neighborhood\",\"political\"]},{\"long_name\":\"Los
        Angeles\",\"short_name\":\"Los Angeles\",\"types\":[\"locality\",\"political\"]},{\"long_name\":\"Los
        Angeles County\",\"short_name\":\"Los Angeles County\",\"types\":[\"administrative_area_level_2\",\"political\"]},{\"long_name\":\"California\",\"short_name\":\"CA\",\"types\":[\"administrative_area_level_1\",\"political\"]},{\"long_name\":\"United
        States\",\"short_name\":\"US\",\"types\":[\"country\",\"political\"]},{\"long_name\":\"90006\",\"short_name\":\"90006\",\"types\":[\"postal_code\"]},{\"long_name\":\"2776\",\"short_name\":\"2776\",\"types\":[\"postal_code_suffix\"]}]","coordinates":"{\"lat\":34.0512358,\"lng\":-118.2929463}","address_city":"Los
        Angeles","full_address":"KIWA (Korean Immigrant Workers Advocates of Southern
        California), South New Hampshire Avenue, Los Angeles, CA, USA","address_state":"CA","address_line_1":"1053
        South New Hampshire Avenue","address_country":"US","address_postal_code":"90006"},"lonlat":"POINT
        (-118.2929463 34.0512358)","location_address":"KIWA (Korean Immigrant Workers
        Advocates of Southern California), South New Hampshire Avenue, Los Angeles,
        CA, USA","show_rsvp_bar":true,"show_title_in_form":false,"max_capacity":0,"note":null,"tags":[],"zoom_account_id":null,"zoom_meeting_id":null,"zoom_meeting_data":null,"zoom_join_before_host":false,"zoom_attendance_synced_at":null,"source_calendar_item_id":null,"event_type":"in_person","paired_meci_id":null,"recurring_schedule_id":null,"mobilize_event_task_id":null,"host_user_ids":[],"rsvp_count":1,"attendance_count":0,"host_tools_url":"https://www.solidarity.tech/h/RHhR7qbw6muucraq1c7Qp0eAyfkp4ptLX9py86-AJxU","primary_session_id":74906,"city_state_label":"Los
        Angeles, CA"}],"event_page_url":null,"event_page_id":null,"image_url":null,"description":null,"hide_address_until_rsvp":false,"show_in_web_calendars":false,"accessibility_info":null,"waitlist_enabled":false,"automation_status":{"rsvp_confirmation_email":true,"rsvp_confirmation_text":false,"day_before_email_reminder":true,"day_before_text_reminder":false,"day_of_email_reminder":false,"day_of_text_reminder":true,"ten_min_before_text_reminder":false,"post_event_survey_email":false,"post_event_survey_text":false},"primary_event_id":25835,"is_co_hosted_mirror":false,"internal_co_host_chapters":[],"created_at":"2026-07-15T14:12:42.081-04:00"},"meta":{"total_count":1,"limit":1,"offset":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
