interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/calls?_limit=20&_offset=0&_since=0
  response:
    body:
      string: '{"data":[{"id":1032061,"user_id":7328098,"chapter_id":293,"direction":"out","from_number":"12892105005","to_number":"16048360839","phonebank_id":null,"agent_user_id":7328098,"notes":"Just
        a test of how the call tool works.","picked_up":true,"duration":33,"left_voicemail":false,"twilio_call_sid":"CA630a35575ec4505588e2978cc6f7fe9a","created_at":"2026-04-23T13:47:18.430-05:00","ended_at":"2026-04-23T13:47:51.195-05:00","transcription":null},{"id":123702,"user_id":1186152,"chapter_id":293,"direction":"out","from_number":"13238265740","to_number":"17145848653","phonebank_id":1836,"agent_user_id":null,"notes":null,"picked_up":false,"duration":38,"left_voicemail":false,"twilio_call_sid":"CAe88aef1d47a3b2b327ddeca6c2d60ae7","created_at":"2023-08-25T18:13:02.886-05:00","ended_at":"2023-08-25T18:13:40.904-05:00","transcription":null},{"id":123681,"user_id":1186152,"chapter_id":220,"direction":"out","from_number":"13238265740","to_number":"17145848653","phonebank_id":null,"agent_user_id":1140156,"notes":null,"picked_up":false,"duration":3,"left_voicemail":false,"twilio_call_sid":"CA537b74c0cb32c4b2c5259939ec8ee8f6","created_at":"2023-08-23T22:37:43.027-05:00","ended_at":"2023-08-23T22:37:46.659-05:00","transcription":null}],"meta":{"total_count":3,"limit":20,"offset":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
