interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer 9y8eg37zy2viz3rxkjn9qbi829iz88n29cv0q8nfyequbk9j0n9vpo3iyv0hr7v3wxtmmdx58jj00l6b01nnuc1rzvancxaonsiuqm1ohqjh8xx15c6cjr3gxdokzsb5
    method: GET
    uri: https://api.solidarity.tech/v1/pages?_limit=20&_offset=0&_since=0&include_action_counts=False
  response:
    body:
      string: "{\"data\":[{\"id\":774,\"type\":\"ActionPage::Donate\",\"url_slug\":\"anudda-test\",\"name\":\"Donation
        Test Page\",\"website_id\":73,\"is_published\":true,\"full_url\":\"https://demo.solidarity.tech/anudda-test\",\"scope_id\":296,\"scope_type\":\"Chapter\",\"supported_languages\":[\"en\"],\"follow_up\":{\"type\":\"default\"},\"confirmations\":{},\"admin_notifications\":{},\"requires_user\":false,\"always_hide_primary_nav\":false,\"always_hide_footer\":false,\"allow_multiple_responses\":true,\"form\":[{\"name\":\"multipage-subform\",\"show\":\"always_required\",\"type\":\"multipage_subform\",\"class\":\"\",\"style\":\"\",\"components\":[{\"type\":\"page\",\"class\":\"\",\"label\":{\"en\":\"Amount
        {% if donation_amount == 'other' %} (${{ donation_amount_other}}) {% elsif
        donation_amount == null or donation_amount == '' %} {% else %}(${{ donation_amount}})
        {% endif %}\"},\"style\":\"\",\"components\":[{\"name\":\"donation_amount\",\"type\":\"donation_amount\",\"class\":\"\",\"label\":{\"en\":\"Choose
        an amount\"},\"style\":\"\",\"amounts\":[\"5\",\"10\",\"20\",\"27\",\"50\",\"100\",\"200\"],\"default\":null,\"options\":[],\"currency\":\"USD\",\"disabled\":null,\"label_style\":\"font-size:
        20px; margin-bottom: 15px; color: black;\",\"custom_amount\":\"on\",\"realtime_liquid_rendering\":false},{\"name\":\"donation_recurring\",\"type\":\"donation_recurring\",\"class\":\"\",\"label\":{\"en\":\"Make
        it monthly!\"},\"style\":\"\",\"default\":\"recurring_off\",\"options\":[],\"disabled\":null,\"label_style\":\"font-size:
        20px; margin-bottom: 15px; color: black;\",\"realtime_liquid_rendering\":false}],\"label_style\":\"\",\"realtime_liquid_rendering\":true},{\"type\":\"page\",\"class\":\"\",\"label\":{\"en\":\"Details\"},\"style\":\"\",\"components\":[{\"hint\":{\"en\":\"\"},\"name\":\"email\",\"show\":\"always_required\",\"type\":\"input\",\"class\":\"\",\"label\":{\"en\":\"Email\"},\"style\":\"\",\"default\":null,\"options\":[],\"disabled\":null,\"label_style\":\"\",\"placeholder\":{\"en\":\"your.address@gmail.com\"},\"input_template\":\"email\",\"show_when_comparator\":\"\",\"show_when_field_name\":\"\",\"show_when_field_value\":\"\",\"realtime_liquid_rendering\":false,\"desktop_label_column_width\":\"12\"},{\"hint\":{\"en\":\"\"},\"name\":\"full_name\",\"show\":\"always_required\",\"type\":\"input\",\"class\":\"\",\"label\":{\"en\":\"Full
        Name\"},\"style\":\"\",\"default\":null,\"options\":[],\"disabled\":null,\"label_style\":\"\",\"placeholder\":{\"en\":\"\"},\"input_template\":\"full_name\",\"show_when_comparator\":\"\",\"show_when_field_name\":\"\",\"show_when_field_value\":\"\",\"realtime_liquid_rendering\":false,\"split_first_and_last_name\":false,\"desktop_label_column_width\":\"12\"},{\"hint\":{\"en\":\"\"},\"name\":\"phone_number\",\"show\":\"required\",\"type\":\"input\",\"class\":\"\",\"label\":{\"en\":\"Phone
        Number\"},\"style\":\"\",\"default\":null,\"options\":[],\"disabled\":null,\"label_style\":\"\",\"placeholder\":{\"en\":\"\"},\"input_template\":\"phone_number\",\"show_when_comparator\":\"\",\"show_when_field_name\":\"\",\"show_when_field_value\":\"\",\"realtime_liquid_rendering\":false,\"desktop_label_column_width\":\"12\"}],\"label_style\":\"\",\"realtime_liquid_rendering\":false},{\"type\":\"page\",\"class\":\"\",\"label\":{\"en\":\"Payment\"},\"style\":\"\",\"components\":[{\"hint\":{\"en\":\"\"},\"name\":\"zip_code\",\"show\":\"always_required\",\"type\":\"input\",\"class\":\"\",\"label\":{\"en\":\"Zip
        Code\"},\"style\":\"\",\"default\":null,\"options\":[],\"disabled\":null,\"label_style\":\"\",\"placeholder\":{\"en\":\"Ex.
        90210\"},\"input_template\":\"zip_code\",\"limit_by_state\":\"\",\"show_when_comparator\":\"\",\"show_when_field_name\":\"\",\"show_when_field_value\":\"\",\"realtime_liquid_rendering\":false,\"desktop_label_column_width\":\"12\"},{\"name\":\"payment_card\",\"type\":\"payment_card\",\"class\":\"\",\"style\":\"\",\"default\":null,\"options\":[],\"disabled\":null,\"label_style\":\"\",\"realtime_liquid_rendering\":false}],\"label_style\":\"\",\"realtime_liquid_rendering\":false}],\"label_style\":\"\",\"show_when_comparator\":\"\",\"show_when_field_name\":\"\",\"show_when_field_value\":\"\",\"house_form_submit_button\":\"on\",\"realtime_liquid_rendering\":false}],\"description\":\"\\u003cp\\u003eWhaa!\\u003c/p\\u003e\",\"campaign_tags\":[],\"created_at\":\"2023-08-20T22:58:05.658Z\",\"action_count\":5,\"action_goal\":10},{\"id\":5279,\"type\":\"ActionPage::Event\",\"url_slug\":\"br-test-event\",\"name\":\"BR
        Test Event\",\"website_id\":153,\"is_published\":true,\"full_url\":\"https://your-name-for-congress.solidarity.tech/br-test-event\",\"scope_id\":80,\"scope_type\":\"Organization\",\"supported_languages\":[\"en\"],\"follow_up\":{\"type\":\"default\"},\"confirmations\":{\"text\":{\"content\":{\"en\":\"you're
        RSVP!\"},\"enabled\":true,\"attachments\":null,\"delay_number\":0,\"delay_interval\":\"minutes\",\"who_receives_message\":\"all\",\"send_within_texting_hours\":false}},\"admin_notifications\":{},\"requires_user\":false,\"always_hide_primary_nav\":false,\"always_hide_footer\":false,\"allow_multiple_responses\":true,\"form\":[{\"name\":\"phone_number\",\"show\":\"required\",\"type\":\"input\",\"label\":{\"en\":\"Phone
        Number\",\"es\":\"N\xFAmero de tel\xE9fono\"},\"input_template\":\"phone_number\",\"opt_in_language\":{\"en\":\"May
        we follow up with you regarding this campaign and our other efforts via text?\",\"es\":\"\xBFPodemos
        contactarle sobre esta campa\xF1a y nuestros otros esfuerzos v\xEDa texto?\"},\"requires_opt_in\":false,\"phone_number_origin\":\"home_country\",\"validates_if_textable\":true,\"desktop_label_column_width\":12},{\"name\":\"email\",\"show\":\"required\",\"type\":\"input\",\"label\":{\"en\":\"Email\",\"es\":\"Correo
        electr\xF3nico\"},\"placeholder\":{\"en\":\"your.address@gmail.com\"},\"input_template\":\"email\",\"opt_in_language\":{\"en\":\"May
        we follow up with you regarding this campaign and our other efforts via email?\",\"es\":\"\xBFPodemos
        contactarle sobre esta campa\xF1a y nuestros otros esfuerzos v\xEDa correo
        electr\xF3nico?\"},\"requires_opt_in\":false,\"desktop_label_column_width\":12},{\"name\":\"zip_code\",\"show\":\"required\",\"type\":\"input\",\"label\":{\"en\":\"Zip
        Code\"},\"placeholder\":{\"en\":\"Ex. 90210\"},\"inputTemplate\":\"zip_code\",\"desktop_label_column_width\":12}],\"description\":\"\\u003cp\\u003eCome
        to our event!\\u003c/p\\u003e\",\"campaign_tags\":[],\"created_at\":\"2025-12-09T18:57:52.961Z\",\"action_count\":0,\"action_goal\":10},{\"id\":5290,\"type\":\"ActionPage::Event\",\"url_slug\":\"pod-meeting-test\",\"name\":\"Pod
        Meeting Test\",\"website_id\":153,\"is_published\":true,\"full_url\":\"https://your-name-for-congress.solidarity.tech/pod-meeting-test\",\"scope_id\":346,\"scope_type\"[...]
