name: Documentation CI/CD

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - major-release

permissions: read-all

jobs:
  linkcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.13'
          cache: pip

      - uses: install-pinned/uv@259f91feb61b6e94766d7a1dbcd5f17335370e64

      - run: |
          uv pip install --system -e .[all]
          uv pip install --system -r requirements-dev.txt

      - run: make linkcheck
        working-directory: docs

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.13'
          cache: pip

      - uses: install-pinned/uv@259f91feb61b6e94766d7a1dbcd5f17335370e64

      - run: |
          uv pip install --system -e .[all]
          uv pip install --system -r requirements-dev.txt

      - name: configure git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - run: make build_docs
        working-directory: docs

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b
        with:
          path: docs/html/

  deploy:
    needs: build
    # Only run this job if triggered by updating the main branch
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e
