name: Build & Publish Wheels + Source

on:
  workflow_dispatch:
  release:
    types:
      - published

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python 3.13
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
            python-version: "3.13"
            cache: pip

      - name: Install uv
        uses: install-pinned/uv@a1c8d54c22711715919a4c208689ed99f0eba797

      - name: Install dependencies
        run: |
            uv pip install --system -r requirements-dev.txt
            uv pip install --system -e .[all]

      - name: Check setup.py
        run: |
          python setup.py check

      - name: Build src dist
        run: |
          python -m build --sdist --outdir dist

      - name: Upload dist directory
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: parsons-dist
          path: dist/

  test:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Download package
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0
        with:
          name: parsons-dist
          path: dist

      - name: Install package using pip
        run: |
          file=$(find ./dist -name 'parsons-*.tar.gz' | head -1)
          pip install "$file"
        shell: bash

  publish:
    if: github.repository_owner == 'move-coop'
    needs:
      - test

    runs-on: ubuntu-latest
    environment: release

    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Download package
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0
        with:
          name: parsons-dist
          path: dist

      # Publish
      - name: Publish
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
        with:
          verify-metadata: true
          skip-existing: true
          packages-dir: dist
          verbose: true
