name: Build & Publish Wheels + Source

on:
  workflow_dispatch:
  release:
    types:
      - published

permissions:
    contents: read
    

jobs:
  build_source:
    if: github.repository_owner == 'move-coop'
    environment: release
        
    runs-on: ubuntu-latest

    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python 3.13
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
            python-version: "3.13"
            cache: "pip"

      - name: Install uv
        uses: install-pinned/uv@05389e8b8c79922b1376aee8c2d598b3219da230  # 0.4.12

      - name: Install dependencies
        run: |
            uv pip install --system -r requirements-dev.txt
            uv pip install --system -e .[all]

      - name: Check setup.py
        run: |
          python setup.py check

      - name: Build src dist
        run: |
          python -m build --sdist --outdir dist

      # Publish
      - name: Publish
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
        with:
          verify-metadata: true
          skip-existing: true
          packages-dir: dist
          verbose: true
