name: tests for mac
# test mac on single python version as mac tests use 10x minutes/storage

on:
  pull_request:
    branches: ["main", "major-release"]
  push:
    branches: ["main", "major-release"]

env:
  TESTING: 1

jobs:
  build:
    strategy:
      matrix:
        limited-dependencies: ['','TRUE']  

    runs-on: macos-latest

    steps:

    - uses: actions/checkout@v4

    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
        cache: "pip"

    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install .[all,dev]

    - name: Run tests
      run: TESTING=1 pytest -rf test/

    - name: Check linting
      run: |
        # E203 and W503 don't work well with black
        flake8 parsons/ test/ useful_resources/ --extend-ignore=E203,W503
        black --check parsons/ test/ useful_resources/
