name: tests for mac
# test mac on single python version as mac tests use 10x minutes/storage

on:
  pull_request:
    branches: ["main", "major-release"]
  push:
    branches: ["main", "major-release"]

env:
  TESTING: 1

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.8', '3.11']
        limited-dependencies: ['','TRUE']  

    runs-on: macos-latest

    steps:

    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"

    - name: Install dependencies
      env:
        PARSONS_LIMITED_DEPENDENCIES: ${{ matrix.limited-dependencies }}      
      run: |
        python -m pip install -U pip
        python -m pip install .[all]
        python -m pip install -r requirements-dev.txt

    - name: Run tests
      run: TESTING=1 pytest -rf test/

    - name: check linting
      run: |
        # E203 and W503 don't work well with black
        flake8 parsons/ test/ useful_resources/ --extend-ignore=E203,W503
        black --check parsons/ test/ useful_resources/
