name: tests

on:
  pull_request:
    branches: ["main", "major-release"]
  push:
    branches: ["main", "major-release"]

env:
  TESTING: 1

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        limited-dependencies: ['','TRUE']
        os: [ubuntu-latest]   # add in windows-latest to add windows testing
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
#        - os: windows-latest
#          path: ~\AppData\Local\pip\Cache
    runs-on: ${{ matrix.os }}

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v3
      with:
        path: ${{ matrix.path }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
         ${{ runner.os }}-pip-

    - name: Install dependencies
      env:
        PARSONS_LIMITED_DEPENDENCIES: ${{ matrix.limited-dependencies }}
      run: |
        python -m pip install .[all]
        python -m pip install -r requirements-dev.txt

    - name: Run tests
      run: pytest -rf test/

    - name: check linting
      run: |
        # E203 and W503 don't work well with black
        flake8 parsons/ test/ useful_resources/ --extend-ignore=E203,W503
        black --check parsons/ test/ useful_resources/
